h1 {
  font-family: Verdana
  color: white;
  font-weight: normal;
  font-size: 50px;
  text-align: center;
  color: white;
}
.cta {
  color: Aquamarine;
  font-size: 16px;
}
h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}
.description {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}
.copyright {
  text-align: right;
  color: gray;
}
body {
  background-color: black;
  text-align: center;
}
